.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#recipes .col-md-3 .poster {
  width: 100%;
}

#recipes .col-md-3 .well {
  height: 450px;
}

#recipes .col-md-3 img {
  height: 230px;
}

.checked {
  color: orange;
}
